priority -50

snippet html "html" b
<!DOCTYPE html>
<html>
$0
</html>
endsnippet

snippet h "head" b
<head>
$0
</head>
endsnippet

snippet b "body" b
<body>
$0
</body>
endsnippet

snippet h "html with head and body" b
<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
	</body>
</html>
endsnippet
